.container {
    width: auto;
  
    margin: 0 auto;
  
    padding: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    margin: 10px 10px 10px 10px;
  }
  
  .transparent-container {
    background-color: transparent;
  }

  .arrows {
    scale: 0.8;
    margin-left: 2px;
  }

  /* .type {
     color: red; 
  } */

  .keys {
    color: blue;
    white-space: pre-wrap;
  }

  .vals {
    color: maroon;
    white-space: pre-wrap;
  }
  